<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Griffindo_Toys_Payroll_System.Properties.Settings.DB_GriffindoToysConnectionString"
            connectionString="Data Source=NEPTUNE\SQLEXPRESS;Initial Catalog=DB_GriffindoToys;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Griffindo_Toys_Payroll_System.Properties.Settings.GriffindoToysDBConnectionString"
            connectionString="Data Source=NEPTUNE\SQLEXPRESS;Initial Catalog=GriffindoToysDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>